{% extends 'client/Layout.html' %}
{% block title %} Home {% endblock title %}
{% load static %}
{% block content %}
<section id="slider"><!--slider-->
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div id="slider-carousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
						<li data-target="#slider-carousel" data-slide-to="1"></li>
						<li data-target="#slider-carousel" data-slide-to="2"></li>
					</ol>
					<div class="carousel-inner">
						<div class="item active">
							<div class="col-sm-6">
								<h1><span>E</span>-SHOPPER</h1>
									<h2>Free E-Commerce Template</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<img src="{% static 'images/home/girl1.jpg' %}" class="girl img-responsive" alt="" />
									<img src="{% static 'images/home/pricing.png' %}"  class="pricing" alt="" />
								</div>
							</div>
							<div class="item">
								<div class="col-sm-6">
									<h1><span>E</span>-SHOPPER</h1>
									<h2>100% Responsive Design</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<img src="{% static 'images/home/girl2.jpg' %}" class="girl img-responsive" alt="" />
									<img src="{% static 'images/home/pricing.png' %}"  class="pricing" alt="" />
								</div>
							</div>
							<div class="item">
								<div class="col-sm-6">
									<h1><span>E</span>-SHOPPER</h1>
									<h2>Free Ecommerce Template</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<img src="{% static 'images/home/girl3.jpg' %}" class="girl img-responsive" alt="" />
									<img src="{% static 'images/home/pricing.png' %}" class="pricing" alt="" />
								</div>
							</div>
						</div>
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><!--/slider-->
	
<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="left-sidebar">
					<div class="brands_products"><!--brands_products-->
						<h2>Brands</h2>
						<div class="brands-name">
							<ul class="nav nav-pills nav-stacked">
							{% for supplier in suppliers %}
								<li><a href=""> <span class="pull-right"></span>{{supplier.company_name}}</a></li>
							{% endfor %}
							</ul>
						</div>
					</div><!--/brands_products-->
				</div>
			</div>
			<div class="col-sm-9 padding-right">
				<div class="features_items"><!--features_items-->
					<h2 class="title text-center">Features Items</h2>
					<div class="col-sm-4">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="{% static 'images/home/product1.jpg' %}" alt="" />
									<h2>$56</h2>
									<a href=""><p>Easy Polo Black Edition</p></a>
									<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="{% static 'images/home/product2.jpg' %}" alt="" />
									<h2>$56</h2>
									<a href=""><p>Easy Polo Black Edition</p></a>
									<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
					<div class="product-image-wrapper">
						<div class="single-products">
							<div class="productinfo text-center">
									<img src="{% static 'images/home/product3.jpg' %}" alt="" />
									<h2>$56</h2>
									<a href=""><p>Easy Polo Black Edition</p></a>
									<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="{% static 'images/home/product4.jpg' %}" alt="" />
									<h2>$56</h2>
									<a href=""><p>Easy Polo Black Edition</p></a>
									<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
								</div>
								<img src="{% static 'images/home/new.png' %}" class="new" alt="" />
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="{% static 'images/home/product5.jpg' %}" alt="" />
									<h2>$60</h2>
									<a href=""><p>Easy Polo Black Edition</p></a>
									<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
								</div>
								<img src="{% static 'images/home/sale.png' %}" class="new" alt="" />
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="{% static 'images/home/product6.jpg' %}" alt="" />
									<h2>$66</h2>
									<a href=""><p>Easy Polo Black Edition</p></a>
									<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
								</div>
							</div>
						</div>
					</div>
				</div><!--features_items-->
				<div class="category-tab"><!--category-tab-->
					<div class="col-sm-12">
						<ul class="nav nav-tabs">
						{% for category in categories %}
							<li class=""><a href="#{{category.metaTitle}}" data-toggle="tab">{{category.name}}</a></li>
						{% endfor %}
						</ul>
					</div>
					<div class="tab-content">
						<div class="tab-pane fade active in" id="ao" >
							{% for ao in ao %}
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<a href="{% url 'product-detail' id=ao.id %}"><img src="{{ao.image}}" alt="{{ao.name}}" /></a>
											<h2>{{ao.price}}</h2>
											<a href="{% url 'product-detail' id=ao.id %}"><p>{{ao.name}}</p></a>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
						<div class="tab-pane fade" id="vay-dam" >
							{% for vaydam in vaydam %}
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<a href="{% url 'product-detail' id=vaydam.id %}"><img src="{{vaydam.image}}" alt="{{vaydam.name}}" /></a>
											<h2>{{vaydam.price}}</h2>
											<a href="{% url 'product-detail' id=vaydam.id %}"><p>{{vaydam.name}}</p></a>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
						<div class="tab-pane fade" id="quan-dai" >
							{% for quandai in quaidai %}
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<a href="{% url 'product-detail' id=quandai.id %}"><img src="{{quandai.image}}" alt="{{quandai.name}}" /></a>
											<h2>{{quandai.price}}</h2>
											<a href="{% url 'product-detail' id=quandai.id %}"><p>{{quandai.name}}</p></a>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
						<div class="tab-pane fade" id="tui-xach" >
							{% for tuixach in tuixach %}
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<a href="{% url 'product-detail' id=tuixach.id %}"><img src="{{tuixach.image}}" alt="{{tuixach.name}}" /></a>
											<h2>{{tuixach.price}}</h2>
											<a href="{% url 'product-detail' id=tuixach.id %}"><p>{{tuixach.name}}</p></a>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
						<div class="tab-pane fade" id="giay" >
							{% for giay in giay %}
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<a href="{% url 'product-detail' id=giay.id %}"><img src="{{giay.image}}" alt="{{giay.name}}" /></a>
											<h2>{{giay.price}}</h2>
											<a href="{% url 'product-detail' id=giay.id %}"><p>{{giay.name}}</p></a>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
						<div class="tab-pane fade" id="vi" >
							{% for vi in vi %}
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<a href="{% url 'product-detail' id=vi.id %}"><img src="{{vi.image}}" alt="{{vi.name}}" /></a>
											<h2>{{vi.price}}</h2>
											<a href="{% url 'product-detail' id=vi.id %}"><p>{{vi.name}}</p></a>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
						<div class="tab-pane fade" id="kinh" >
							{% for kinh in kinh %}
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<a href="{% url 'product-detail' id=kinh.id %}"><img src="{{kinh.image}}" alt="{{kinh.name}}" /></a>
											<h2>{{kinh.price}}</h2>
											<a href="{% url 'product-detail' id=kinh.id %}"><p>{{kinh.name}}</p></a>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
						<div class="tab-pane fade" id="vo" >
							{% for vo in vo %}
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<a href="{% url 'product-detail' id=vo.id %}"><img src="{{vo.image}}" alt="{{vo.name}}" /></a>
											<h2>{{vo.price}}</h2>
											<a href="{% url 'product-detail' id=vo.id %}"><p>{{vo.name}}</p></a>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div><!--/category-tab-->
					
				<div class="recommended_items"><!--recommended_items-->
					<h2 class="title text-center">recommended items</h2>
					<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
							<div class="item active">	
								<div class="col-sm-4">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{% static 'images/home/recommend1.jpg' %}" alt="" />
												<h2>$56</h2>
												<a href=""><p>Easy Polo Black Edition</p></a>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{% static 'images/home/recommend2.jpg' %}" alt="" />
												<h2>$56</h2>
												<a href=""><p>Easy Polo Black Edition</p></a>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{% static 'images/home/recommend3.jpg' %}" alt="" />
												<h2>$56</h2>
												<a href=""><p>Easy Polo Black Edition</p></a>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="item">	
								<div class="col-sm-4">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{% static 'images/home/recommend1.jpg' %}" alt="" />
												<h2>$56</h2>
												<a href=""><p>Easy Polo Black Edition</p></a>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{% static 'images/home/recommend2.jpg' %}" alt="" />
												<h2>$56</h2>
												<a href=""><p>Easy Polo Black Edition</p></a>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{% static 'images/home/recommend3.jpg' %}" alt="" />
												<h2>$56</h2>
												<a href=""><p>Easy Polo Black Edition</p></a>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>			
					</div>
				</div><!--/recommended_items-->
			</div>
		</div>
	</div>
</section>
{% endblock content %}