{% extends 'client/Layout.html' %}
{% block title %} Register {% endblock title %}
{% load static %}
{% block content %}
<div class="main_content">
    <div class="login_register_wrap section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-md-10">
                    <div class="login_wrap">
                        <div class="padding_eight_all bg-white">
                            <div class="heading_s1">
                                <h3 style="text-align: center;">Create an account</h3>
                            </div>
                            <form action="" method="post">
                                <div class="form-group">
                                    <input type="text" required="" class="form-control" name="fullname" placeholder="Full name">
                                </div>
                                <div class="form-group">
                                    <input type="text" required="" class="form-control" name="username" placeholder="Username">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" required="" minlength="8" type="password" name="password" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" required="" minlength="8" type="password" name="repassword" placeholder="Confirm Password">
                                </div>
                                <div class="form-group">
                                    <label class="bold">Gender</label>
                                    <select class="form-control first_null not_chosen" name="gender">
                                        <option value="Nam">Male</option>
                                        <option value="Nữ">Female</option>
                                        <option value="Khác">Orther</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="bold">Birthday</label>
                                    <input type="date" required="" class="form-control" name="birthday">
                                </div>
                                <div class="form-group">
                                    <input type="phone" required="" class="form-control" name="phonenumber" placeholder="Phone Number">
                                </div>
                                <div class="form-group">
                                    <input type="text" required="" class="form-control" name="address" placeholder="Address">
                                </div>
                                <div class="form-group">
                                    <input type="text" required="" class="form-control" name="email" placeholder="Email" required>
                                </div>
                                <div class="login_footer form-group">
                                    <div class="chek-form">
                                        <div class="custome-checkbox">
                                            <input class="form-check-input" required type="checkbox" name="checkbox" id="exampleCheckbox2" value="">
                                            <label class="form-check-label" for="exampleCheckbox2"><span>I agree to the terms &amp; policies.</span></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-fill-out btn-block" name="register">Register</button>
                                </div>
                            </form>
                            <div class="different_login">
                                <span> or</span>
                            </div>
                            <div class="form-note text-center">Allready account? <a href="{% url 'login' %}">Login</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END LOGIN SECTION -->
</div>
{% endblock content %}