{% extends 'page/Layout.html' %}
{% block title %}Admin | Add Category{% endblock title %}
{% load static %}
{% block content %}
<!-- import code hereeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Basic Information</h5>
                <form action="" method="post" class="form-material form-horizontal m-t-30">
                {% csrf_token %}
                    <div class="form-group">
                        <label class="col-md-12" for="example-text">Tên loại hàng</span>
                        </label>
                        <div class="col-md-12">
                            <input type="text" id="example-text" name="cName" class="form-control" placeholder="Nhập tên loại hàng">
                        </div>
                        <label class="col-md-12" for="example-text">Mô tả</span>
                        </label>
                        <div class="col-md-12">
                            <input type="text" id="example-text" name="cDesription" class="form-control" placeholder="Nhập mô tả">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Submit</button>
                    <button type="button" class="btn btn-inverse waves-effect waves-light m-r-10"><a href="{% url 'manager-category' %}">Cancel</a></button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- End Page Content -->

{% endblock content%}